@font-face {
    font-family: "Garamond-Light";
    src: url('assets/fonts/Garamond-Light.otf') format("opentype");
}

@font-face {
    font-family: "Garamond-Regular";
    src: url('assets/fonts/Garamond-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Satoshi-Light";
    src: url('assets/fonts/Satoshi-Light.otf') format("opentype");
}

@font-face {
    font-family: "Satoshi-Regular";
    src: url('assets/fonts/Satoshi-Regular.otf') format("opentype");
}

:root {
    --background: #FFFCF4;
    --dark: #1E1E1E;
  
    --font-size-1: 0.8rem;
    --font-size-2: 1.6rem;
    --font-size-3: 1.8rem;
    --font-size-4: 2.4rem;
    --font-size-5: 4.8rem;
    --font-size-6: 9.6rem;
    --font-size-7: 11.6rem;

    --padding-sm: 2rem;
    --padding-md: 4rem;
    --padding-lg: 7.5rem;
}
  
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}  

body {
    font-family: system-ui;
    background-color: var(--background);
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
a,
button,
nav,
li {
  color: var(--dark);
}

a {
    text-decoration-color: var(--dark);
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;    
}

a:hover {
    background-color: var(--dark);
    color: var(--background);
}

h1 {
    font-family: 'Garamond-Light';
    font-size: var(--font-size-5);
    font-weight: normal;
}

h2 {
    font-family: 'Garamond-Light';
    font-size: var(--font-size-5);
    font-weight: normal;
}

li {
    font-family: 'Satoshi-Light';
    font-weight: normal;
}

p {
    font-size: 1.6rem;
    font-family: 'Satoshi-Regular';
    font-weight: normal;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--padding-md);
    list-style-type: none;
    padding-inline-start: 0;
    margin: calc(var(--padding-sm) - 1rem) 0 var(--padding-sm);
}

nav li {
    font-family: 'Satoshi-Light';
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 2rem;
}

nav li a {
    text-decoration: none;;
}

nav li a:hover {
    text-decoration: underline;
    background-color: var(--background);
    color: var(--dark);
    text-decoration-color: var(--dark);
}

nav h1 {
    text-transform: uppercase;
    font-family: 'Garamond-Regular';
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: var(--padding-sm);
    font-size: 4rem;
}

header {
    width: 100%;
    position: relative;
    background: url("assets/images/header.jpg");
    height: 1003px;
    background-repeat: no-repeat;
    background-size: contain;
}

#background {
    transform: translateY(-4rem);
    z-index: -1;
    user-select: none;
    background-image: url("assets/images/vine.png");
    width: 100%;
    height: 2704px;
    position: absolute;
    overflow: auto;
    background-repeat:no-repeat;
    background-size:contain;
    -webkit-animation: vibrate 5s cubic-bezier(.36, .07, .19, .97) infinite;
    animation: vibrate 5s cubic-bezier(.36, .07, .19, .97) infinite;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}  

@keyframes vibrate {
    0.50%, 10%, 20%, 30%, 40%, 50%
    {
      -webkit-transform: translate3d(0.3px, 0.5px, 0);
      transform: translate3d(0.3px, 0, 0);
    }
    5%, 15%, 25%, 35%, 45%
    {
      -webkit-transform: translate3d(-0.7px, -0.2px, 0);
      transform: translate3d(-0.7px, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(0.2px, 0.1px, 0);
      transform: translate3d(0.2px, 0, 0);
    }
}  

.container {
    z-index: 1;
    display: grid;
    position: relative;
    gap: 4rem;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 8.5rem 0;
    padding: 0 5%;
}

.about-image-container {
    display: grid;
    position: relative;
    background: url("assets/images/headshot.png") no-repeat;
    background-position: right;
    background-size: contain;
    width: 100%;
    height: 100%;
}

/* .about-image-container::after {
    content: '';
    background: url("./assets/images/hibiscus.png") no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: right;
    top: 0;
    left: 0;
    mix-blend-mode: luminosity;
} */

.about-text-container {
    position: relative;
}

.library-image-container {
    display: grid;
    justify-content: left;
}

.library-text-container {
    position: relative;
    justify-items: right;
    display: grid;
}

.container h1, p {
    max-width: 60%;
}

.container h1 {
    font-size: 6.8rem;
    line-height: 6.8rem;
}

.container a {
    line-height: 7.2rem;
}

.container p {
    line-height: 3rem;
    margin: calc(var(--padding-sm) + 1rem) 0 var(--padding-sm);
}

.button {
    text-decoration: none;
    font-size: 1.6rem;
    border: 1px solid var(--dark);
    padding: 0rem 2.5rem;
    letter-spacing: 0.2rem;
    font-family: "Satoshi-Regular";
    font-weight: normal;
}

@media screen and (max-width: 1800px) {
    .container h1, p {
        max-width: 80%;
    }
}

@media screen and (max-width: 1350px) {
    .container h1, p {
        max-width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .about-text-container h1 {
        font-size: 6rem;
    }
}

@media screen and (max-width: 500px) {
    .container {
        display: block;
        padding: 0 10%;
        right: 0;
        left: 0;
    }

    .container img {
        width: 100%;
    }

    .container h1 {
        margin-top: var(--padding-sm);
        font-size: 4rem;
        line-height: normal;
    }

    .container h1, p {
        max-width: 100%;
    }

    .container a {
        line-height: normal;
    }

    .container p {
        margin-bottom: var(--padding-md);
    }
}
