@font-face {
    font-family: "Garamond-Light";
    src: url('assets/fonts/Garamond-Light.otf') format("opentype");
}

@font-face {
    font-family: "Garamond-Regular";
    src: url('assets/fonts/Garamond-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Satoshi-Light";
    src: url('assets/fonts/Satoshi-Light.ttf') format("truetype");
}

@font-face {
    font-family: "Satoshi-Regular";
    src: url('assets/fonts/Satoshi-Regular.ttf') format("truetype");
}

:root {
    --background: #FFFCF4;
    --dark: #1E1E1E;
  
    --font-size-1: 0.8rem;
    --font-size-2: 1.6rem;
    --font-size-3: 1.8rem;
    --font-size-4: 2.4rem;
    --font-size-5: 4.8rem;
    --font-size-6: 9.6rem;
    --font-size-7: 11.6rem;
}
  
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}  

body {
    font-family: system-ui;
    /* font-size: 1.125rem;
    line-height: 0.5; */
    background-color: var(--background);
}

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
} 

h1,
h2,
h3,
h4,
p,
a,
button,
nav,
li {
  color: var(--txt-color-dark);
}

a {
    text-decoration-color: var(--dark);
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;    
}


h1 {
    font-family: 'Garamond-Light';
    font-size: var(--font-size-5);
    font-weight: normal;
}
