@font-face {
    font-family: "Garamond-Light";
    src: url('assets/fonts/Garamond-Light.otf') format("opentype");
}

@font-face {
    font-family: "Garamond-Regular";
    src: url('assets/fonts/Garamond-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Satoshi-Light";
    src: url('assets/fonts/Satoshi-Light.otf') format("opentype");
}

@font-face {
    font-family: "Satoshi-Regular";
    src: url('assets/fonts/Satoshi-Regular.otf') format("opentype");
}

:root {
    --background: #FFFCF4;
    --dark: #1E1E1E;
  
    --font-size-1: 0.8rem;
    --font-size-2: 1.6rem;
    --font-size-3: 1.8rem;
    --font-size-4: 2.4rem;
    --font-size-5: 4.8rem;
    --font-size-6: 9.6rem;
    --font-size-7: 11.6rem;
}
  
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}  

body {
    font-family: system-ui;
    /* font-size: 1.125rem;
    line-height: 0.5; */
    background-color: var(--background);
}

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
} 

h1,
h2,
h3,
h4,
p,
a,
button,
nav,
li {
  color: var(--dark);
}

a {
    text-decoration-color: var(--dark);
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;    
}

a:hover {
    background-color: var(--dark);
    color: var(--background);
}

h1 {
    font-family: 'Garamond-Light';
    font-size: var(--font-size-5);
    font-weight: normal;
}

p,
li {
    font-family: 'Satoshi-Light';
    font-weight: normal;
}

p {
    font-size: 1.6rem;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.6rem;
    list-style-type: none;
    padding-inline-start: 0;
}

nav li {
    font-family: 'Satoshi-Light';
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 2rem;
}

nav h1 {
    text-transform: uppercase;
    font-family: 'Garamond-Regular';
    text-align: center;
    margin-block-start: 1rem;
    margin-block-end: 0;
    font-size: 4rem;
}